body {
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif;
  color: black;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
p {
  text-align: justify;
  line-height: 1.5;
}

.titles {
  background-color: white;
  text-align: center;
  font-size: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 300;
}
h3 {
  color: white;
  text-decoration: underline;
  text-shadow: 2px 2px 15px darkblue, -2px -2px 15px darkblue;
}
mark {
  background-color: white;
  text-shadow: 2px 2px 15px red, -2px -2px 15px red;
}
